button {
  display: block;
  box-sizing: border-box;
  margin: 0;
}

/* color */
.success {
  color: #1556f7;
  background-color: #1556f7;
  border: 1px solid #1556f7;
}
.error {
  color: #fe8885;
  background-color: #fe8885;
  border: 1px solid #fe8885;
}
.normal {
  color: black;
  background-color: black;
  border: 1px solid black;
}

/* variant */
.contained {
  color: white;
  border: none;
}
.outlined {
  background: white;
}
.not {
  border: none;
  background: none;
}

/* size */
.small {
  min-width: 50px;
  height: 22px;
  font-size: 10px;
}
.middle {
  min-width: 60px;
  height: 28px;
  font-size: 12px;
}
.large {
  width: 220px;
  height: 70px;
  font-size: 16px;
}

/* rounded */
.rounded {
  border-radius: 15px;
}

/* shadow */
.shadow {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}
