/* confirm */
.confirm {
  width: 198px;
  height: 162px;
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
.confirm__title {
  padding-top: 24px;
  margin-left: 16px;
  font-size: 11px;
  color: #434343;
}
.confirm__description {
  color: #636363;
  font-size: 11px;
  width: 166px;
  height: 39px;
  margin: 0 auto;
  margin-top: 8px;
  word-break: break-all;
  overflow: scroll;
}
.confirm__tagsGood {
  padding: 0;
  width: 166px;
  height: 12px;
  margin: 0 auto;
  position: relative;
}
.confirm__tag {
  display: inline;
  font-size: 10px;
  color: #939393;
  margin-right: 8px;
}
.confirm__child {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 24px;
  gap: 8px;
}
.confirm__good {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 8px;
  list-style: none;
  color: #939393;
}
